body
	background:$backround_color
	color:#fff
	user-select:none
	-webkit-user-select:none
	// overflow:hidden
.loadcontainer
	position:absolute
	width:100%
	top:50%
.rank,.recommendWrap,.singer
	position:fixed
	top:96px
	// left:0
	bottom:0
	width:100%
	overflow:hidden
*
	user-select:none
	-webkit-user-select:none