//基础的配置
$backround_color= #262121
$background_content = #383535

$font_highlight_color= #e02860
$font_title_color= #fff
$font_deep_color= #eee
$font_normal_color= #ccc
$font_content_color= #666

$font_navbar_size= 18px
$font_normal_size= 14px
$font_title_size= 16px
$font_small_size= 12px

$font_normal_lineheight = 20px
$font_hight_lineheight = 25px

$font_normal_weight= normal
$font_bold_weight= bolder
$font_nav_weight= 400

$block_padding= 20px
$block_margin= 10px