//基础的配置
$backround_color= #262121

$font_highlight_color= #e02860
$font_title_color= #fff
$font_deep_color= #eee
$font_normal_color= #ccc
$font_content_color= #666

$font_navbar_size= 18px
$font_normal_size= 14px
$font_title_size= 16px